In [1]:
import  pandas as pd

In [2]:
file_path = r'D:\correct_twitter_201904.tsv'

In [3]:

df = pd.read_csv(file_path, sep='\t')

In [4]:
print(df)

                        id           event                               ts1  \
0      1131594960443199488  britney_201904  2022-02-28 09:34:44.627023-05:00
1      1131594976750653440  britney_201904  2022-02-28 09:34:44.626921-05:00
2      1131589737955942405  britney_201904  2022-02-28 09:34:44.634058-05:00
3      1131594909469892610  britney_201904  2022-02-28 09:34:44.627125-05:00
4      1131594812694511617  britney_201904  2022-02-28 09:34:44.627227-05:00
...                    ...             ...                               ...
88032  1122977274352082944  britney_201904  2022-02-28 09:47:43.066500-05:00
88033  1122977257969127429  britney_201904  2022-02-28 09:47:43.066605-05:00
88034  1122977009347518466  britney_201904  2022-02-28 09:47:43.066708-05:00
88035  1122976878812442626  britney_201904  2022-02-28 09:47:43.066810-05:00
88036  1122976855647240203  britney_201904  2022-02-28 09:47:43.066921-05:00

                                    ts2  from_stream  directly_from_stream  \
0      2022-02-28 09:34:44.627023-05:00         True                  True
1      2022-02-28 09:34:44.626921-05:00         True                  True
2      2022-02-28 09:34:44.634058-05:00         True                  True
3      2022-02-28 09:34:44.627125-05:00         True                  True
4      2022-02-28 09:34:44.627227-05:00         True                  True
...                                 ...          ...                   ...
88032  2022-02-28 09:47:43.066500-05:00         True                  True
88033  2022-02-28 09:47:43.066605-05:00         True                  True
88034  2022-02-28 09:47:43.066708-05:00         True                  True
88035  2022-02-28 09:47:43.066810-05:00         True                  True
88036  2022-02-28 09:47:43.066921-05:00         True                  True

       from_search  directly_from_search  from_quote_search  \
0            False                 False              False
1            False                 False              False
2            False                 False              False
3            False                 False              False
4            False                 False              False
...            ...                   ...                ...
88032        False                 False              False
88033        False                 False              False
88034        False                 False              False
88035        False                 False              False
88036        False                 False              False

       directly_from_quote_search  ...     retweeted  retweeted_author_id  \
0                           False  ...  1.130918e+18         3.042894e+09
1                           False  ...           NaN                  NaN
2                           False  ...           NaN                  NaN
3                           False  ...  1.130918e+18         3.042894e+09
4                           False  ...  1.130918e+18         3.042894e+09
...                           ...  ...           ...                  ...
88032                       False  ...  1.122976e+18         2.934939e+09
88033                       False  ...  1.118943e+18         6.137028e+08
88034                       False  ...           NaN                  NaN
88035                       False  ...  1.122898e+18         8.468642e+17
88036                       False  ...           NaN                  NaN

       retweeted_handle  retweeted_follower_count mentioned_author_ids  \
0              Iesbwian                   22760.0                  NaN
1                   NaN                       NaN                  NaN
2                   NaN                       NaN                  NaN
3              Iesbwian                   22760.0                  NaN
4              Iesbwian                   22760.0                  NaN
...                 ...                       ...                  ...
88032   STORMISKELLYBAG                   13773.0                  NaN
88033       keanuorange                    1422.0                  NaN
88034               NaN                       NaN                  NaN
88035      TheBlastNews                   11533.0                  NaN
88036               NaN                       NaN                  NaN

      mentioned_handles  hashtags  \
0                   NaN       NaN
1                   NaN       NaN
2                   NaN       NaN
3                   NaN       NaN
4                   NaN       NaN
...                 ...       ...
88032               NaN       NaN
88033               NaN       NaN
88034               NaN       NaN
88035               NaN       NaN
88036               NaN       NaN

                                                    urls media_keys  place_id
0                                                    NaN        NaN       NaN
1                                                    NaN        NaN       NaN
2                                                    NaN        NaN       NaN
3                                                    NaN        NaN       NaN
4                                                    NaN        NaN       NaN
...                                                  ...        ...       ...
88032                                                NaN        NaN       NaN
88033                                                NaN        NaN       NaN
88034                                                NaN        NaN       NaN
88035                                                NaN        NaN       NaN
88036  [{'end': 65, 'url': 'https://t.co/DcqjuqMJDK',...        NaN       NaN

[88037 rows x 46 columns]

In [5]:
df.head()

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns = df.columns.str.strip()

In [7]:
df['ts1'] = pd.to_datetime(df['ts1'])
df['ts2'] = pd.to_datetime(df['ts2'])

In [17]:
df.to_csv('retweet_data.csv')

In [18]:
import os
print(os.getcwd())

C:\Users\v-riupadhyay

In [10]:
#1. Tweets Per Day Containing a Term

def tweets_per_day(df, term):
    # Filter tweets containing the term in the event or hashtags
    filtered_df = df[df['event'].str.contains(term, case=False, na=False) |
                     df['hashtags'].apply(lambda x: any(term.lower() in tag.lower() for tag in x) if isinstance(x, list) else False)]
    # Convert ts1 to date and count tweets per day
    return filtered_df['ts1'].dt.date.value_counts()

# Example usage:
print(tweets_per_day(df, 'britney'))

ts1
2022-02-28    80393
2022-01-04     7644
Name: count, dtype: int64

In [11]:
#2 How many unique users posted a tweet containing the term?

def unique_users(df, term):
    # Filter tweets containing the term
    filtered_df = df[df['event'].str.contains(term, case=False, na=False) |
                     df['hashtags'].apply(lambda x: any(term.lower() in tag.lower() for tag in x) if isinstance(x, list) else False)]
    return filtered_df['retweeted_author_id'].nunique()

# Example usage:
print(unique_users(df, 'britney'))

2750

In [ ]:
#3.How many likes did tweets containing the term get, on average?

def avg_follower_count(df, term):
    # Filter tweets containing the term
    filtered_df = df[df['event'].str.contains(term, case=False, na=False) |
                     df['hashtags'].apply(lambda x: any(term.lower() in tag.lower() for tag in x) if isinstance(x, list) else False)]
    return filtered_df['retweeted_follower_count'].mean()

# Example usage:
print(avg_follower_count(retweet_df, 'britney'))

In [12]:
#4.Where (in terms of place IDs) did the tweets come from?

def place_ids(df, term):
    # Filter tweets containing the term
    filtered_df = df[df['event'].str.contains(term, case=False, na=False) |
                     df['hashtags'].apply(lambda x: any(term.lower() in tag.lower() for tag in x) if isinstance(x, list) else False)]
    return filtered_df['place_id'].value_counts()

# Example usage:
print(place_ids(df, 'britney'))

place_id
3b77caf94bfc81fe    45
1ef1183ed7056dc1    17
01a9a39529b27f36    13
1c69a67ad480e1b1    11
68e019afec7d0ba5    11
                    ..
dce44ec49eb788f5     1
ca8520ce19e71fd7     1
b077585758242faa     1
7d893ca2441b0c21     1
19dd8d7a921df131     1
Name: count, Length: 598, dtype: int64

In [15]:
#5.What times of day were the tweets posted at? 

def times_of_day(df, term):
    # Filter tweets containing the term
    filtered_df = df[df['event'].str.contains(term, case=False, na=False) |
                     df['hashtags'].apply(lambda x: any(term.lower() in tag.lower() for tag in x) if isinstance(x, list) else False)]
    return filtered_df['ts1'].dt.hour.value_counts().sort_index()

# Example usage:
print(times_of_day(df, 'britney'))

ts1
9     80393
15     7644
Name: count, dtype: int64

In [16]:
#6.Which user posted the most tweets containing the term?

def most_active_user(df, term):
    # Filter tweets containing the term
    filtered_df = df[df['event'].str.contains(term, case=False, na=False) |
                     df['hashtags'].apply(lambda x: any(term.lower() in tag.lower() for tag in x) if isinstance(x, list) else False)]
    return filtered_df['retweeted_author_id'].value_counts().idxmax()

# Example usage:
print(most_active_user(df, 'britney'))

16331010.0